<!doctype html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Bungoo</title>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.1.min.js"></script>
    <script src="{{ url_for('static', filename='js/jquery.balloon.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">


    <script type="text/javascript">

    $(document).ready(function(){
        // フォーカスを移動
        $('textarea').val('');
        $('textarea').focus().val("{{ text | safe}}");
        $('textarea').showBalloon({ contents: "{{ snipet | safe}}", position: "right"});

        // キーイベント待ち
        $(window).keydown(function(e){
            if (event.shiftKey){
                // Shit + Enter をチェック
                if(e.keyCode === 13){
                    $("form").submit();
                    return false
                }
            }
            return true;
        });
    });

        function hoge(){
            console.log("hoge!");
        }
    </script>
</head>
<body>
    <div class="container">
        <div  class="col-md-8 col-xs-12">
            <div style="background-image: url({{ url_for('static', filename='img/dazai_black_manga.png') }})">
                <div class="row">

                    <h1>Bungoo</h1>
                    <p>小説風の文章を作成するツールです</p>
                    <p>Press Shift+Enter.</p>

                    <form method="post" name="words">
                    {% if name %}
                        <textarea name="input_text" id="inp" cols="50" rows="20">{{ text }}</textarea>
                    {% else %}
                        <textarea name="input_text" id="inp" cols="50" rows="20">これはデフォルトの文章です。</textarea>
                    {% endif %}
                        <input type="submit" value="Shift + Enter">
                    </form>
                </div>

                <div class="row">
                    <h5>※自動文章生成</h5>
                    <a href="{{ url_for('auto_write')}}"><button type="button" class="btn btn-default" onClick="hoge();">AUTO!</button></a>
                </div>
            </div>

        </div>
    </div>
    <div class="container">
        <div id="footer">
            <a href="http://soy-curd.com">soycurdあっとgmail.com</a>
        </div>
    </div>
</body>